.singleuser_container {
    display: flex;
    flex-flow: column;
    padding: 2rem 3rem;
    align-items: flex-start;
    margin-top: 3rem;
}

.singleuser_top {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.singleuser_top a {
    text-decoration: none;
    color: #6b7280;
    font-size: 24px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #fff;
    margin-bottom: 2rem;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 39px;
    height: 39px;
    background: #F9FAFB;
    border-radius: 24px;
    color: #000;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #D1D5DB;
    background: #F9FAFB;
    border-radius: 8px;
    box-sizing: border-box;
    w
}