   .singleuser_container {
       display: flex;
       flex-flow: column;
       padding: 2rem 3rem;
       align-items: flex-start;
       margin-top: 2rem;
   }
   
   .singleuser_top {
       display: flex;
       flex-flow: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       align-items: flex-start;
   }
   
   .singleuser_top a {
       text-decoration: none;
       color: #6b7280;
       font-size: 24px;
       width: 95%;
       height: 100%;
       align-items: center;
       margin-bottom: 2rem;
   }
   
   .arrow {
       justify-content: center;
       align-items: center;
       padding: 8px;
       position: absolute;
       width: 39px;
       height: 39px;
       background: #F9FAFB;
       border-radius: 24px;
       color: #000;
   }
   
   .card {
       display: flex;
       justify-content: space-between;
       margin-top: 20px;
       border: 1px solid #D1D5DB;
       background: #F9FAFB;
       border-radius: 8px;
       box-sizing: border-box;
       width: 647px;
       height: 145px;
       padding: 10px;
   }
   
   .card_content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
   }
   
   .card_image {
       width: 83px;
       height: 83px;
   }
   
   .card_image img {
       border-radius: 50%;
       width: 100%;
   }
   
   .card_details {
       height: 100px;
       width: 280px;
   }
   
   .card_details h2 {
       font-weight: 700;
       font-size: 18px;
       line-height: 28px;
       display: flex;
       align-items: center;
       color: #000000;
   }
   
   .card_details h3 {
       font-weight: 500;
       font-size: 18px;
       line-height: 28px;
       display: flex;
       align-items: center;
       color: #000000;
   }
   
   .card_edit {
       height: 48px;
       width: 92px;
       border-radius: 6px;
       padding: 10px;
       background: #fff;
       border-right: .1rem solid #E5E7EB;
       margin-top: 3rem;
       border: 1px solid #6b7280;
   }
   
   .card_edit:hover {
       background: #3ab44a;
       border: ;
   }
   
   .card_edit p {
       color: #6b7280;
   }
   
   .card_edit p:hover {
       color: #fff;
   }