.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    width: 20rem;
    border-right: .1rem solid rgba(0, 0, 0, .2);
    height: 100%;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    left: ;
}