.App {
    text-align: center;
}

.dashboard,
.admin,
.customers,
.shipments,
.tracking,
.documents,
.rates,
.quotes {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}