    .App {
        text-align: center;
    }
    
    .dashboard,
    .admin,
    .customers,
    .shipments,
    .tracking,
    .documents,
    .rates,
    .quotes {
        display: flex;
        justify-content: center;
        height: 90vh;
        align-items: center;
        font-size: 3rem;
    }
    
    .p__Inter {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        align-items: center;
        letter-spacing: -0.02em;
        color: #000000;
    }
    
    section {
        min-height: calc(100vh - 90px);
        padding: 2rem;
        margin-top: 8rem;
    }
    
    .customers_container {
        width: calc(100% - 20rem);
        margin-left: 20rem;
    }
    
    .shipments_container {
        display: flex;
        flex-flow: column;
        padding: 2rem 1rem;
        align-items: flex-start;
        margin-top: 2rem;
        width: 53rem;
    }
    
    .shipments_top {
        display: flex;
        justify-content: space-between;
        width: 854px;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }
    
    .shipments_top a {
        text-decoration: none;
        color: #6b7280;
        font-size: 24px;
        width: 95%;
        height: 100%;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .shipment_detials {
        display: fl;
    }
    
    .shipment_detials_img {
        justify-content: center;
        align-items: center;
        padding: 8px;
        position: absolute;
        width: 39px;
        height: 39px;
        background: #F9FAFB;
        border-radius: 24px;
        color: #000;
    }
    
    @media (max-width: 768px) {
        .customers_container {
            width: 100%;
            margin-left: 5rem;
        }
        .p__Inter {
            font-size: 28px;
            line-height: 40px;
            align-items: center;
            letter-spacing: -0.02em;
            color: #000000;
        }
    }