.loaded_document {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    width: 900px;
    background: #fff;
}

.loaded_document_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.loaded_document_text {
    display: flex;
    align-items: center;
    padding: 10px;
}

.loaded_document_text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on;
    /* Neutral/500 */
    color: #6B7280;
}