.upload_document {
    display: flex;
    just
}

.document-text {
    list-style: none;
    border-bottom: .1rem solid #E5E7EB;
    padding: 20px;
}

.document-text a {
    text-decoration: none;
    color: #6b7280;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.document-text:hover {
    border-bottom: .1rem solid #3ab44a;
    padding-bottom: 20px;
}

.shipments_bottom_nav {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

.shipments_bottom_nav span:hover {
    color: #000000;
}