.modalBackground {
    position: fixed;
    z-index: 1002;
    background: rgba(225, 225, 225, 0.9);
    opacity: 1;
}

.modalBackground .active {
    top: 0;
    opacity: 1;
}

.modalContainer {
    width: 750px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: flex-start;
}

.modalContainer .title {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
}

.modalContainer .title h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
    width: 215px;
    height: 32px;
    margin-bottom: 10px;
}

.modalContainer .title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    font-feature-settings: 'salt' on;
    color: #6B7280;
    width: 398px;
    height: 20px;
}

.titleCloseBtn {
    display: flex;
    justify-content: center;
    width: 39px;
    height: 39px;
    background: #f9fafb;
    border-radius: 24px;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

.modalContainer .body p {
    width: 219px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #111827;
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.drop_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 688px;
    height: 100px;
    background: #FAFFFB;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    justify-content: center;
}

.dragdrop_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 670px;
    height: 40px;
}

.drop_box p {
    width: 350px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    color: #111827;
}

.drop_box p span {
    color: #3ab44a;
    margin-right: 10px;
}

.drop_box h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6B7280;
    width: 300px;
    height: 20px;
}

#cancelBtn {
    background-color: crimson;
}