    .navtop_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 100px;
        top: 0;
        height: 130px;
        background-color: #fff;
        flex-direction: start;
        border-bottom: .1rem solid #E5E7EB;
        width: calc(100% - 20rem);
        position: fixed;
        z-index: 999;
        left: 20rem;
    }
    
    .title-body {
        width: 50px;
        height: 50px;
        background-color: #fff;
        padding: 20px;
    }
    
    .top_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 250px;
        height: 50px;
        background-color: #fff;
        padding: 20px;
    }
    
    .top_content {
        position: relative;
        width: 100%;
    }
    
    .top_content span {
        position: absolute;
        align-items: center;
        width: 22px;
        height: 22px;
        background: red;
        top: -9px;
        left: 10px;
        margin-left: 0px;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px;
    }
    
    .top_content_bell {
        font-size: 26px;
    }
    
    .dropdown_container {
        width: 120px;
        height: auto;
        position: relative;
    }
    
    .dropdown_industries {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .dropdown_industries p {
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    
    @media (max-width: 768px) {
        .navtop_container {
            width: 100%;
            left: 5rem;
            padding: 0 2rem;
            background: blue;
        }
        .title-body {
            width: 100%;
        }
    }