.destination {
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem;
    align-items: flex-start;
}

.shipment_type {
    width: 58px;
    height: 28px;
    left: 545px;
    top: 613px;
    /* Paragraph/Large/Semibold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.destination_code {
    height: 28px;
    width: 64px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color: #000000;
    background: transparent;
}