.destination {
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem;
    align-items: flex-start;
}

div.shipment_type {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color: #000000;
    background: transparent;
    border: none;
    box-shadow: none;
    width: 51px;
}

div.shipment_date {
    font-weight: 600;
    align-items: center;
    color: #000000;
    background: transparent;
    border: none;
    box-shadow: none;
}

.destination_code {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color: #000000;
    background: transparent;
}

.destination_country {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #6B7280;
}

.rect_image {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.rect_image img {
    width: 100%;
}